In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# URL for the ODI Men's Cricket Team Rankings
url_teams = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [3]:
# Send a GET request to the URL
response_teams = requests.get(url_teams)

In [4]:
# Parse the HTML content using BeautifulSoup
soup_teams = BeautifulSoup(response_teams.content, "html.parser")

In [5]:
# Find the table containing the team rankings
teams_table = soup_teams.find("table", class_="table")

In [6]:
# Lists to store the scraped data
teams_data = []

In [7]:
# Extract data for each row in the table
for row in teams_table.find_all("tr")[1:]:
    cells = row.find_all("td")
    team_rank = cells[0].text.strip()
    team_name = cells[1].text.strip()
    team_matches = cells[2].text.strip()
    team_points = cells[3].text.strip()
    team_rating = cells[4].text.strip()
    teams_data.append([team_rank, team_name, team_matches, team_points, team_rating])

In [8]:
# Create a data frame for ODI teams
teams_df = pd.DataFrame(teams_data, columns=["Rank", "Team", "Matches", "Points", "Rating"])

In [9]:
# Display the top 10 ODI teams
print("Top 10 ODI Teams:")
print(teams_df.head(10))

Top 10 ODI Teams:
  Rank              Team Matches Points Rating
0    1    Australia\nAUS      23  2,714    118
1    2     Pakistan\nPAK      20  2,316    116
2    3        India\nIND      36  4,081    113
3    4   New Zealand\nNZ      27  2,806    104
4    5      England\nENG      24  2,426    101
5    6  South Africa\nSA      19  1,910    101
6    7   Bangladesh\nBAN      28  2,661     95
7    8  Afghanistan\nAFG      16  1,404     88
8    9     Sri Lanka\nSL      32  2,794     87
9   10   West Indies\nWI      38  2,582     68

In [10]:
# URL for the ODI Men's Batsmen Rankings
url_batsmen = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [12]:
# Send a GET request to the URL
response_batsmen=requests.get(url_batsmen)

In [13]:
# Parse the HTML content using BeautifulSoup
soup_batsmen = BeautifulSoup(response_batsmen.content, "html.parser")

In [14]:
# Find the table containing the batsmen rankings
batsmen_table = soup_batsmen.find("table", class_="table")

In [15]:
# Lists to store the scraped data
batsmen_data = []

In [16]:
# Extract data for each row in the table
for row in batsmen_table.find_all("tr")[1:]:
    cells = row.find_all("td")
    batsman_rank = cells[0].text.strip()
    batsman_name = cells[1].text.strip()
    batsman_team = cells[2].text.strip()
    batsman_rating = cells[3].text.strip()
    batsmen_data.append([batsman_rank, batsman_name, batsman_team, batsman_rating])

In [17]:
# Create a data frame for ODI batsmen
batsmen_df = pd.DataFrame(batsmen_data, columns=["Rank", "Batsman", "Team", "Rating"])

In [18]:
# Display the top 10 ODI batsmen
print("\nTop 10 ODI Batsmen:")
print(batsmen_df.head(10))

Top 10 ODI Batsmen:
                                                Rank                Batsman  \
0               1\n                        \n\n\n(0)             Babar Azam
1       2\n                                \n\n\n(0)  Rassie van der Dussen
2       3\n                                \n\n\n(0)           Fakhar Zaman
3       4\n                                \n\n\n(0)            Imam-ul-Haq
4  5\n                                \n\n\n\n\n(...           Shubman Gill
5  6\n                                \n\n\n\n\n(...           Harry Tector
6  =\n                                \n\n\n\n\n(...           David Warner
7       8\n                                \n\n\n(0)        Quinton de Kock
8       9\n                                \n\n\n(0)            Virat Kohli
9      10\n                                \n\n\n(0)            Steve Smith

  Team Rating
0  PAK    886
1   SA    777
2  PAK    755
3  PAK    745
4  IND    743
5  IRE    726
6  AUS    726
7   SA    718
8  IND    705
9  AUS    702

In [19]:
# URL for the ODI Men's Bowlers Rankings
url_bowlers = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [20]:
# Send a GET request to the URL
response_bowlers = requests.get(url_bowlers)

In [21]:
# Parse the HTML content using BeautifulSoup
soup_bowlers = BeautifulSoup(response_bowlers.content, "html.parser")

In [22]:
# Find the table containing the bowlers rankings
bowlers_table = soup_bowlers.find("table", class_="table")

In [23]:
# Lists to store the scraped data
bowlers_data = []

In [24]:
# Extract data for each row in the table
for row in bowlers_table.find_all("tr")[1:]:
    cells = row.find_all("td")
    bowler_rank = cells[0].text.strip()
    bowler_name = cells[1].text.strip()
    bowler_team = cells[2].text.strip()
    bowler_rating = cells[3].text.strip()
    bowlers_data.append([bowler_rank, bowler_name, bowler_team, bowler_rating])

In [25]:
# Create a data frame for ODI bowlers
bowlers_df = pd.DataFrame(bowlers_data, columns=["Rank", "Bowler", "Team", "Rating"])

In [26]:
# Display the top 10 ODI bowlers
print("\nTop 10 ODI Bowlers:")
print(bowlers_df.head(10))

Top 10 ODI Bowlers:
                                                Rank            Bowler Team  \
0               1\n                        \n\n\n(0)    Josh Hazlewood  AUS
1       2\n                                \n\n\n(0)    Mitchell Starc  AUS
2       3\n                                \n\n\n(0)       Rashid Khan  AFG
3       4\n                                \n\n\n(0)    Mohammed Siraj  IND
4       5\n                                \n\n\n(0)        Matt Henry   NZ
5       6\n                                \n\n\n(0)  Mujeeb Ur Rahman  AFG
6       7\n                                \n\n\n(0)       Trent Boult   NZ
7       8\n                                \n\n\n(0)        Adam Zampa  AUS
8       9\n                                \n\n\n(0)    Shaheen Afridi  PAK
9  10\n                                \n\n\n\n\n...     Kuldeep Yadav  IND

  Rating
0    705
1    686
2    682
3    670
4    667
5    661
6    660
7    652
8    630
9    622